body {
    display: flex;
    flex-direction: column;
    background-color: #f2f2f2;
    min-width: 375px;
}

header {
    flex: 0 80px;
    justify-content: center;
    background-color: #333;
    color: #fff;
}

footer{
    flex: 0 30px;
}

h1 {
    font-size: 24px;
    color: #333;
}

p {
    font-size: 16px;
    color: #666;
    line-height: 1.5;
}
