#intro {
    background-image: url("dojo.jpg");
    height: 100vh;
  }

  #headerPic {
    background-image: url("dojo.jpg");
    height: 60px;
  }

  /* Height for devices larger than 576px */
  @media (min-width: 100px) {
    #intro {
      display: block !important;
      margin-top: -58.59px;
    }
  }      

  .navbar .nav-link {
    color: #fff !important;
  }